/* Catppuccin Latte Syntax Highlighting - Light Mode */

/* Comments - Overlay2 #9ca0b0 */
.highlight .c,
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs {
  color: #9ca0b0;
  font-style: italic;
}

/* Keywords - Mauve #8839ef */
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
  color: #8839ef;
  font-weight: bold;
}

/* Strings - Green #40a02b */
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .ss {
  color: #40a02b;
}

/* Numbers - Peach #fe640b */
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: #fe640b;
}

/* Functions - Blue #1e66f5 */
.highlight .nf,
.highlight .fm {
  color: #1e66f5;
  font-weight: bold;
}

/* Classes - Yellow #df8e1d */
.highlight .nc,
.highlight .nn {
  color: #df8e1d;
  font-weight: bold;
}

/* Variables - Text #4c4f69 */
.highlight .n,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: #4c4f69;
}

/* Operators - Sky #04a5e5 */
.highlight .o,
.highlight .ow {
  color: #04a5e5;
  font-weight: bold;
}

/* Built-ins | Constants - Red #d20f39 */
.highlight .nb,
.highlight .bp,
.highlight .no,
.highlight .ne {
  color: #d20f39;
}

/* Decorators - Pink #ea76cb */
.highlight .nd,
.highlight .ni {
  color: #ea76cb;
}

/* Attributes - Teal #179299 */
.highlight .na {
  color: #179299;
}

/* Tags - Peach #fe640b */
.highlight .nt {
  color: #fe640b;
  font-weight: bold;
}

/* Errors - Red with background */
.highlight .err,
.highlight .gr,
.highlight .gt {
  color: #d20f39;
  background-color: #f7d8dd;
}

/* Generic Deleted - Red with background */
.highlight .gd {
  color: #d20f39;
  background-color: #f7d8dd;
}

/* Generic Inserted - Green with background */
.highlight .gi {
  color: #40a02b;
  background-color: #d2e9d1;
}

/* Prompts/Output */
.highlight .go {
  color: #6c6f85;
  /* Subtext0 */
}

.highlight .gp {
  color: #8839ef;
  /* Mauve */
  font-weight: bold;
}

/* Whitespace */
.highlight .w {
  color: #bcc0cc;
  /* Surface1 */
}

/* Line Numbers */
.highlight .lineno {
  color: #9ca0b0;
  /* Overlay2 */
  background-color: #e6e9ef;
  /* Mantle */
}